<section class="bg-about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A few lines about myself...</h2>
                <hr class="primary text-center">
		 <p class="text-faded-main-dark">I studied Economics at the University of Zurich, with exchanges to Sciences Po (Paris), 
			Boğaziçi University (Istanbul) and Universitat Pompeu Fabra (Barcelona), as well as Food Mobility at the 
			University of Gastronomic Sciences in Pollenzo (Italy). Currently, I am a Doctoral Student in Agricultural Economics and Policy at <a href="https://aecp.ethz.ch" target="_blank"><img src="/img/logo/192px-ETH_Zürich_Logo_black.png" style="cursor:pointer; padding-bottom: 2px; padding-top: -2px;" width="70" height="13"></a>
			within the <a href="https://trapego.ch" target="_blank"><img src="/img/logo/Logo_TRAPEGO_final-02_KLEIN.png" style="cursor:pointer; padding-bottom: 2px; padding-top: -2px;" width="70" height="19"></a> project.</p>  
                <!--<h3 class="section-heading">I code and cook</h3>-->
		<p class="text-faded-main-dark">I gained valuable work experiences at the Swiss Central Bank and a commercial bank, on Swiss and international (FR, IT) vineyards and pomicultures, as well as in a bio-bakery and Italian restaurant kitchen.</p>    
		<p class="text-faded-main-dark">Equipped with enormous passion and fascination for data-driven investigations 
			with food and agriculture related data (and beyond!), I pursue the vision to positively influence our planet and society 
			with my quantitative skills and comprehension of the current global food system.</p>
                <p class="text-faded-main-dark">I am impressed and consequently a big fan of food and beverages in which yeast strains or other bacteria have left their marks. Amongst those, bread is my favourite. <!--I also like and produce <a href="https://lucca-zachmann.ch/pastificio.html" target="_blank"><img src="/img/logo/Logo.png" style="cursor:pointer; padding-bottom: 2px; padding-top: -2px;" width="63.8" height="24"></a> pasta.--> 
			Cooking is something that brings me great joy and I like to share the experience by welcoming and hosting people in my home. 
			I co-founded and buy my food at <a href="https://foodcoop-zurgertrud.ch" target="_blank"><img src="/img/logo/tasche.png" style="cursor:pointer" width="20" height="25"></a> Foodcoop Zur Gertrud.  	
		<!--<h3 class="section-heading">I ride and run</h3>-->
		<p class="text-faded-main-dark">I like to be active outdoors by riding my bike and running on a daily basis. 
			In my free time I travel the world by means of bike-packing.</p>
		<!-- <a href="https://luccalino.github.io/strava_activity.html"><img src="/img/logo/stravaapp.png" style="cursor:pointer; position: relative; top: -1px;" width="17" height="17"></a>-->    
     		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		    
		<style>
		.myimgdivtoggle {
		display:none;
		}
		</style>
		<script>
			$(document).ready(function(){
			$('.togglebtn').click(function(){
   			$('.myimgdivtoggle').slideToggle();
		});
		});
		</script>
                
                
                <div class="myimgdivtoggle">
	            <img src="img/blue_cropped.jpg" alt="Display image on button click" width="200" height="200" style="cursor:default;" class="img-responsive img-thumbnail rounded"/>
                </div>
		    
                <button type="button" class="togglebtn btn btn-primary btn-xl page-scroll">Unravel me</button>   

            </div>
        </div>
    </div>
</section>
