<section id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            
            <div class="col-lg-4 col-sm-6">
                <a class="twitter-timeline" data-width="500" data-height="600" href="https://twitter.com/OurWorldInData?ref_src=twsrc%5Etfw">Tweets by OurWorldInData</a> 
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            
             <div class="col-lg-4 col-sm-6">
                <a class="twitter-timeline" data-width="500" data-height="600" href="https://twitter.com/OurWorldInData?ref_src=twsrc%5Etfw">Tweets by OurWorldInData</a> 
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            
            <div class="col-lg-4 col-sm-6">
                <a class="twitter-timeline" data-width="500" data-height="600" href="https://twitter.com/OurWorldInData?ref_src=twsrc%5Etfw">Tweets by OurWorldInData</a> 
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</section>
