<section id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publications <a href="https://scholar.google.ch/citations?user=0EwYx-sAAAAJ&hl=de" target="_blank"><img src="/img/googlescholar.png" style="cursor:pointer;" width="25" height="25"></a></h2>
                <hr class="primary">
                <p style="color:#1E2460;" style="margin-bottom:1cm;"></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
           <div class="col-md-6 mb-4 text-center d-flex align-items-stretch">
                      <a class="fa fa-4x wow bounceIn text-primary" href="https://onlinelibrary.wiley.com/doi/full/10.1002/aepp.13512" target="_blank"><img title="AEPP" alt="AEPP" src="img/aepp_v2.jpg" style="cursor:pointer;border:1px solid grey;" width="150" height="210"></a>
                      <h3 style="color:#1E2460;">The effect of geographical denomination on the uptake of fungus-resistant grapes</h3>
                      <p class="text-muted" style="color:#1E2460;">Lucca Zachmann, Chloe McCallum and Robert Finger</p>
                      <p class="text-muted" style="color:#1E2460;"><i>Applied Economic Perspectives and Policy</i> <b>1-24</b> (2025)</p>
                      <p style="margin-bottom:0.15cm;"></p>
                      <p class="text-muted" style="color:#1E2460;"><a href="" target="_blank"><i><img src="img/logo/github-icon-1-logo-svgrepo-com.svg" style="cursor:pointer; height:0.5cm; weight: 0.5cm;"></i></a> Code &nbsp; &nbsp; &nbsp; <a href="https://www.research-collection.ethz.ch/handle/20.500.11850/568595" target="_blank"><i><img src="img/logo/data-storage-device-svgrepo-com.svg" style="cursor:pointer; height:0.5cm; weight: 0.5cm;"></i></a> Data &nbsp; &nbsp; &nbsp; <a href="https://onlinelibrary.wiley.com/doi/pdfdirect/10.1002/aepp.13512?download=true" target="_blank"><i><img src="img/logo/download-button-svgrepo-com.svg" style="cursor:pointer; height:0.5cm; weight: 0.5cm;"></i></a> PDF </p> 
                      <p style="margin-bottom:0.15cm;"></p>
                      <!--<p class="text-muted"><a href="https://agrarpolitik-blog.com/2024/12/09/nicht-jeder-biologisch-erzeugte-wein-ist-mit-dem-biolabel-gekennzeichnet/" target="_blank"><img src="/img/agrarpolitik_blog.png" style="cursor:pointer" width="140" height="30"></a></p>-->
                      <p style="margin-bottom:1cm;"></p>
           </div>
           <div class="col-md-6 mb-4 text-center d-flex align-items-stretch">
                      <a class="fa fa-4x wow bounceIn text-primary" href="" target="_blank"><img title="ERC" alt="ERC" src="img/erc.jpeg" style="cursor:pointer;border:1px solid grey;" width="150" height="210"></a>
                      <h3 style="color:#1E2460;">Not every wine that is produced organically is labelled as organic</h3>
                      <p class="text-muted" style="color:#1E2460;">Lucca Zachmann, Chloe McCallum and Robert Finger</p>
                      <p class="text-muted" style="color:#1E2460;"><i>Applied Economic Perspectives and Policy</i> <b>6</b> (2025)</p>
                      <p style="margin-bottom:0.15cm;"></p>
                      <p class="text-muted" style="color:#1E2460;"><a href="https://www.research-collection.ethz.ch/handle/20.500.11850/708037" target="_blank"><i><img src="img/logo/github-icon-1-logo-svgrepo-com.svg" style="cursor:pointer; height:0.5cm; weight: 0.5cm;"></i></a> Code &nbsp; &nbsp; &nbsp; <a href="https://www.research-collection.ethz.ch/handle/20.500.11850/568595" target="_blank"><i><img src="img/logo/data-storage-device-svgrepo-com.svg" style="cursor:pointer; height:0.5cm; weight: 0.5cm;"></i></a> Data &nbsp; &nbsp; &nbsp; <a href="https://iopscience.iop.org/article/10.1088/2515-7620/ad9383/pdf" target="_blank"><i><img src="img/logo/download-button-svgrepo-com.svg" style="cursor:pointer; height:0.5cm; weight: 0.5cm;"></i></a> PDF </p> 
                      <p style="margin-bottom:0.15cm;"></p>
                      <!--<p class="text-muted"><a href="https://agrarpolitik-blog.com/2024/12/09/nicht-jeder-biologisch-erzeugte-wein-ist-mit-dem-biolabel-gekennzeichnet/" target="_blank"><img src="/img/agrarpolitik_blog.png" style="cursor:pointer" width="140" height="30"></a></p>-->
                      <p style="margin-bottom:1cm;"></p>
           </div> 
           <div class="col-md-6 mb-4 text-center d-flex align-items-stretch">
                      <a class="fa fa-4x wow bounceIn text-primary" href="https://onlinelibrary.wiley.com/doi/10.1111/agec.12836" target="_blank"><img title="AE" alt="AE" src="img/agec.v55.3.cover.jpg" style="cursor:pointer;border:1px solid grey;" width="150" height="210"></a>
                      <h3 style="color:#1E2460;">Spraying for the beauty: Pesticide use for visual appearance in apple production</h3>
                      <p class="text-muted" style="color:#1E2460;">Lucca Zachmann, Chloe McCallum and Robert Finger</p>
                      <p class="text-muted" style="color:#1E2460;"><i>Agricultural Economics</i> <b>55</b>, 621-638 (2024)</p>
                    <p style="margin-bottom:0.15cm;"></p>
                    <p class="text-muted" style="color:#1E2460;"><a href="https://www.research-collection.ethz.ch/handle/20.500.11850/668506" target="_blank"><i><img src="img/logo/github-icon-1-logo-svgrepo-com.svg" style="cursor:pointer; height:0.5cm; weight: 0.5cm;"></i></a> Code &nbsp; &nbsp; &nbsp; <a href="https://www.research-collection.ethz.ch/handle/20.500.11850/602779" target="_blank"><i><img src="img/logo/data-storage-device-svgrepo-com.svg" style="cursor:pointer; height:0.5cm; weight: 0.5cm;"></i></a> Data &nbsp; &nbsp; &nbsp; <a href="https://onlinelibrary.wiley.com/doi/epdf/10.1111/agec.12836" target="_blank"><i><img src="img/logo/download-button-svgrepo-com.svg" style="cursor:pointer; height:0.5cm; weight: 0.5cm;"></i></a> PDF </p> 
                    <p style="margin-bottom:0.15cm;"></p>
                    <p class="text-muted"><a href="https://agrarpolitik-blog.com/2024/06/05/spraying-for-the-beauty-kosmetische-pflanzenschutzmittelanwendungen-in-der-tafelapfelproduktion/" target="_blank"><img src="/img/agrarpolitik_blog.png" style="cursor:pointer" width="140" height="30"></a> |
                    <a href="https://www.ktipp.ch/artikel/artikeldetail/viele-bauern-verschoenern-aepfel-mit-pestiziden" target="_blank"><img src="/img/ktipp.png" style="cursor:pointer" width="75" height="25"></a> |
                    <a href="https://www.swissinfo.ch/eng/multinational-companies/what-price-the-perfect-apple/87502226" target="_blank"><img src="/img/swissinfo.png" style="cursor:pointer" width="115" height="25"></a>
                    </p>
               <p style="margin-bottom:1cm;"></p>
            </div> 
            <div class="col-md-6 mb-4 text-center d-flex align-items-stretch">
                      <a class="fa fa-4x wow bounceIn text-primary" href="https://www.cambridge.org/core/journals/journal-of-wine-economics/article/determinants-of-the-adoption-of-fungusresistant-grapevines-evidence-from-switzerland/BD682A7EAF7BA6EBD7FF74F2C6408174" target="_blank"><img title="JWE" alt="JWE" src="img/journal-of-wine-economics.jpg" style="cursor:pointer;border:1px solid grey;" width="150" height="210"></a>
                      <h3 style="color:#1E2460;">Determinants of the adoption of fungus-resistant grapevines: Evidence from Switzerland</h3>
                      <p class="text-muted" style="color:#1E2460;">Lucca Zachmann, Chloe McCallum and Robert Finger</p>
                      <p class="text-muted" style="color:#1E2460;"><i>Journal of Wine Economics</i> <b>19</b>, 232-264 (2024)</p>
                    <p style="margin-bottom:0.15cm;"></p>
                    <p class="text-muted" style="color:#1E2460;"><a href="https://www.research-collection.ethz.ch/handle/20.500.11850/671067" target="_blank"><i><img src="img/logo/github-icon-1-logo-svgrepo-com.svg" style="cursor:pointer; height:0.5cm; weight: 0.5cm;"></i></a> Code &nbsp; &nbsp; &nbsp; <a href="https://www.research-collection.ethz.ch/handle/20.500.11850/568595" target="_blank"><i><img src="img/logo/data-storage-device-svgrepo-com.svg" style="cursor:pointer; height:0.5cm; weight: 0.5cm;"></i></a> Data &nbsp; &nbsp; &nbsp; <a href="https://www.cambridge.org/core/journals/journal-of-wine-economics/article/determinants-of-the-adoption-of-fungusresistant-grapevines-evidence-from-switzerland/BD682A7EAF7BA6EBD7FF74F2C6408174" target="_blank"><i><img src="img/logo/download-button-svgrepo-com.svg" style="cursor:pointer; height:0.5cm; weight: 0.5cm;"></i></a> PDF </p> 
                    <p style="margin-bottom:0.15cm;"></p>
                    <p class="text-muted"><a href="https://agrarpolitik-blog.com/2024/05/10/schweizer-winzerinnen-und-winzer-werden-die-flache-von-robusten-rebsorten-in-den-nachsten-10-jahren-deutlich-erhohen/" target="_blank"><img src="/img/agrarpolitik_blog.png" style="cursor:pointer" width="140" height="30"></a> | 
                    <a href="https://www.tema-agriculture-terroirs.fr/mon-viti/viticulture/les-viticulteurs-suisses-prevoient-daugmenter-la-plantation-de-varietes-resistantes-917435.php" target="_blank"><img src="/img/viti.PNG" style="cursor:pointer" width="75" height="25"></a> |
                    <a href="https://www.diegruene.ch/artikel/vermischtes/die-zukunft-gehoert-den-pilzwiderstandsfaehigen-rebsorten-514332" target="_blank"><img src="/img/logo-diegruene.svg" style="cursor:pointer" width="75" height="25"></a> </p>
                <p style="margin-bottom:1cm;"></p>
            </div> 
            <div class="col-md-6 mb-4 text-center d-flex align-items-stretch">
                      <a class="fa fa-4x wow bounceIn text-primary" href="https://onlinelibrary.wiley.com/doi/full/10.1002/jaa2.76" target="_blank"><img title="JAAEA" alt="JAAEA" src="img/jaa2.jpeg" style="cursor:pointer;border:1px solid grey;" width="150" height="210"></a>
                      <h3 style="color:#1E2460;">Nudging farmers towards low-pesticide practices: Evidence from a randomized experiment in viticulture</h3>
                      <p class="text-muted" style="color:#1E2460;">Lucca Zachmann, Chloe McCallum and Robert Finger</p>
                      <p class="text-muted" style="color:#1E2460;"><i>Journal of the Agricultural and Applied Economics Association</i> <b>2</b>, 497-514 (2023)</p>
                    <p style="margin-bottom:0.15cm;"></p>
                    <p class="text-muted" style="color:#1E2460;"><a href="https://www.research-collection.ethz.ch/handle/20.500.11850/624982" target="_blank"><i><img src="img/logo/github-icon-1-logo-svgrepo-com.svg" style="cursor:pointer; height:0.5cm; weight: 0.5cm;"></i></a> Code &nbsp; &nbsp; &nbsp; <a href="https://www.research-collection.ethz.ch/handle/20.500.11850/568595" target="_blank"><i><img src="img/logo/data-storage-device-svgrepo-com.svg" style="cursor:pointer; height:0.5cm; weight: 0.5cm;"></i></a> Data &nbsp; &nbsp; &nbsp; <a href="https://onlinelibrary.wiley.com/doi/epdf/10.1002/jaa2.76"><i><img src="img/logo/download-button-svgrepo-com.svg" style="cursor:pointer; height:0.5cm; weight: 0.5cm;"></i></a> PDF </p> 
                    <p style="margin-bottom:0.15cm;"></p>
                    <p class="text-muted"><a href="https://agrarpolitik-blog.com/2023/09/25/kann-nudging-den-anbau-von-pilzwiderstandsfahigen-rebsorten-beeinflussen/" target="_blank"><img src="/img/agrarpolitik_blog.png" style="cursor:pointer" width="140" height="30"></a></p>
                    <p style="margin-bottom:1cm;"></p>
            </div>    
            <div class="col-md-6 mb-4 text-center d-flex align-items-stretch">
                    <a class="fa fa-4x wow bounceIn text-primary" href="https://link.springer.com/article/10.1007/s13280-022-01790-4" target="_blank"><img title="Ambio" alt="Ambio" src="img/AMBIO.png" style="cursor:pointer;border:1px solid grey;" width="150" height="210"></a>
                    <h3 style="color:#1E2460;">Barriers to evidence use for sustainability: Insights from pesticide policy and practice</h3>
                    <p class="text-muted" style="color:#1E2460;">Benjamin Hofmann, Karin Ingold, Christian Stamm, Priska Ammann, Rik I. L. Eggen, Robert Finger, Samuel Fuhrimann, Judit Lienert, Jennifer Mark, Chloe McCallum, Nicole Probst-Hensch, Ueli Reber, Lucius Tamm, Milena Wiget, Mirko S. Winkler, Lucca Zachmann & Sabine Hoffmann </p>
                    <p class="text-muted" style="color:#1E2460;"><i>Ambio</i> <b>52</b>, 425–439 (2023)</p>
                    <p style="margin-bottom:0.15cm;"></p>
                    <p class="text-muted"><a href="https://agrarpolitik-blog.com/2022/11/25/hurden-fur-eine-evidenzbasierte-pflanzenschutzmittelpolitik-und-praxis/" target="_blank"><img src="/img/agrarpolitik_blog.png" style="cursor:pointer" width="140" height="30"></a></p>
                    <p style="margin-bottom:2cm;"></p>
            </div>  
            <div class="col-md-6 mb-4 text-center d-flex align-items-stretch">
                      <a class="fa fa-4x wow bounceIn text-primary" href="https://onlinelibrary.wiley.com/doi/full/10.1002/aepp.13337" target="_blank"><img title="AEPP" alt="AEPP" src="img/AEPP.jpg" style="cursor:pointer;border:1px solid grey;" width="150" height="210"></a>
                      <h3 style="color:#1E2460;">Short supply chains and the adoption of fungus-resistant grapevine varieties</h3>
                      <p class="text-muted" style="color:#1E2460;">Robert Finger, Lucca Zachmann and Chloe McCallum</p>
                      <p class="text-muted" style="color:#1E2460;"><i>Applied Economic Perspectives and Policy</i> <b>45</b>, 1753-1775 (2022)</p>
                    <p style="margin-bottom:0.15cm;"></p>
                    <p class="text-muted"><a href="https://agrarpolitik-blog.com/2023/01/12/kurze-lieferketten-und-der-anbau-pilzwiderstandsfahiger-rebsorten/" target="_blank"><img src="/img/agrarpolitik_blog.png" style="cursor:pointer" width="140" height="30"></a></p>
                    <p style="margin-bottom:1cm;"></p>
            </div>  
            <div class="col-md-6 mb-4 text-center d-flex align-items-stretch">
                    <a class="fa fa-4x wow bounceIn text-primary" href="https://link.springer.com/article/10.1007/s10797-019-09541-0" data-wow-delay=".2s" target="_blank"><img title="ITPF" alt="ITPF" src="img/ITPF.jpeg" style="cursor:pointer;border:1px solid grey;" width="150" height="210"></a>
                    <h3 style="color:#1E2460;">Do the rich pay their taxes early?</h3>
                    <p class="text-muted" style="color:#1E2460;">Andreas M. Fischer and Lucca Zachmann</p>
                    <p class="text-muted" style="color:#1E2460;"><i>International Tax and Public Finance</i> <b>27</b>, 194–214 (2020)</p>
                    <p style="margin-bottom:0.15cm;"></p>
                    <p class="text-muted"><a href="https://www.nzz.ch/wirtschaft/reiche-leute-zahlen-ihre-steuern-frueher-ld.1405075" target="_blank"><img src="/img/nzz.png" style="cursor:pointer" width="140" height="30"></a> | 
                    <a href="https://www.luzernerzeitung.ch/wirtschaft/reiche-profitieren-von-fruhen-steuerzahlungen-ld.1041357" target="_blank"><img src="/img/lz.png" style="cursor:pointer" width="105" height="25"></a></p>
                    <p style="margin-bottom:1cm;"></p>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center">
              <h2 class="section-heading"></h2>
              <a href="publicationsExtended.html" class="btn btn-primary btn-xl page-scroll">More</a>
              <p style="margin-bottom:1cm;"></p>
    </div>
</section>
