<section id="software">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Software</h2>
                <hr class="primary">
                <p style="color:#1E2460;">Find here some pieces of software ready for use.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-4 col-md-6 text-center"> -->
            <div class="col-6 text-center">
                <div class="service-box">
                    <a class="fa fa-4x wow bounceIn text-primary" href="https://luccalino.github.io/parametrisedReports.html"><img title="rmarkdown" alt="rmarkdown" src="img/rmarkdown.png" style="cursor:pointer;" width="70" height="75"></a>
                    <h3 style="color:#1E2460;">Parametrised reports</h3>
                    <p class="text-muted" style="color:#1E2460;">Software package to build and send individual reports to survey participants</p>
                    <p style="margin-bottom:1cm;"></p>
                </div>
            </div>  
            <div class="col-6 text-center">
                <div class="service-box">
                    <a class="fa fa-4x wow bounceIn text-primary" href="" data-wow-delay=".2s"><img title="agrometeo" alt="agrometeo" src="img/agrometeo.PNG" style="cursor:pointer;" width="185" height="70"></a>
                    <h3 style="color:#1E2460;">GetData</h3>
                    <p class="text-muted" style="color:#1E2460;">Material for accessing Agrometeo data and converting it into machine-readable formats</p>
                    <p style="margin-bottom:1cm;"></p>
                </div>
            </div>   
            <div class="col-6 text-center">
                <div class="service-box">
                    <a class="fa fa-4x wow bounceIn text-primary" href="https://luccalino.github.io/openFarmingData.html" data-wow-delay=".4s"><img title="Open-farming" alt="Open-farming" src="img/ofhd.png" style="cursor:pointer;" width="180" height="70"></a>
                    <h3 style="color:#1E2460;">Open-farming data</h3>
                    <p class="text-muted" style="color:#1E2460;">Software materials for crowd-sourced data collection</p> 
                </div> 
            </div>
        </div>
    </div>
</section>
